@charset "utf-8";
@import "libs/mixins.less";
@import "libs/variables.less";
@import "libs/normalize.less";

html {
   min-width: 960px;
}

body {
  font-family: @font-family;
  font-size: @font-size;
  line-height: @line-height;
  color: @text-color;
  background-color: @body-bg;
}

a {
  color: @link-color;
  text-decoration: underline;
  &:hover,
  &:focus {
    color: @link-hover-color;
    text-decoration: none;
  }

}

.img-responsive {
  .img-responsive();
}

h1, h2, h3, h4, h5, h6 {
  font-family: @font-family-h;
  line-height: @line-height-h;
  color: @color-h;
  font-weight: @font-weight-h;
  margin: 0;
  padding: 0;
}
h1 { font-size: @font-size-h1; }
h2 { font-size: @font-size-h2; }
h3 { font-size: @font-size-h3; }
h4 { font-size: @font-size-h4; }
h5 { font-size: @font-size-h5; }
h6 { font-size: @font-size-h6; }

p {
   margin: 0;
   padding: 0;
}

input,
button,
select,
textarea {
  font-family: @font-family;
  font-size: @font-size;
  line-height: @line-height;
}

.none{display:none;}
ul.list{list-style-type:disc;}
ol.list{list-style-type:decimal;}
.fix {.clearfix()}

.g-cols {
    .clearfix();
    width: 100%;
    position: relative;
}
.g-col {
    display: block;
    float: left;
    min-height: 1px;
    position: relative;
}
.g-col1_2 {
    .g-col;
    width: 50%;
}
.g-col1_3 {
    .g-col;
    width: 33.33%;
}
.g-col1_4 {
    .g-col;
    width: 25%;
}
.g-col1_5 {
    .g-col;
    width: 20%;
}
// <ul class="g-cols">
//     <li class="g-col1_2">12</li>
//     <li class="g-col1_2">34</li>
// </ul>


.g-jcols {
   width: 100%;
   text-align: justify;
   font-size: 0; font-size: 12px\9;
   &:after {
        content: ""; width: 100%; display: inline-block; zoom: 1; *display: inline;
   }
}

.g-jcol {
    position: relative;
    display: inline-block; *zoom: 1; *display: inline;
    font-size: @font-size;
}
// <ul class="g-jcols">
//     <li class="g-jcol">12</li>
//     <li class="g-jcol">34</li>
//     <li class="g-jcol">56</li>
// </ul>


.g-article {
    p {
        padding: 10px 0px 10px 0px;
    }
}


.ico {
  display: inline-block; *zoom: 1; *display: inline;
  position: relative;
  background: url("/assets/images/sprite.png") no-repeat;
}




// =============================================
// Custom Elements
// =============================================



.custom-button {
    border:none;
    outline:none;
}

.custom-text {
    border:none;
    outline:none;
}

.radio-label {
  display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;

  .radio-pic {
   .wh(10px,10px); /**/
   position: absolute;
   left: 0; top: 3px;
   background: url("@{images}/sprite.png") no-repeat;
   .bp(0px,0px); /**/
  }

  input[type="radio"]:checked + .radio-pic   {
   .bp(0px,0px); /**/
  }

  input[type="radio"] {
    display: none;

  }

}





// =============================================
// Layout
// =============================================

.layout {

}
.wrap {

}
.space {

}
.content {

}

// =============================================
// Header
// =============================================

.header {

}


// =============================================
// Footer
// =============================================

.footer {

}






