{% extends "layouts/layout.html.twig" %}
{% block content %}

<div class="wrap">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit quasi aliquid adipisci sapiente atque natus deleniti voluptatem illum, ullam quia, vero totam vel doloremque dicta quae voluptates maxime odio similique?
</div>

{% endblock %}
